.search-bar {
  display: flex;
  align-items: center;
  background-color: #FDF3E0; 
  padding: 10px 20px;
  border-radius: 50px; 
  width: 100%;
  max-width: 600px; 
  transition: all 0.3s ease;
}

.search-icon {
  color: #D65A31;
  margin-right: 12px;
  min-width: 20px;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: #D65A31;
  font-weight: 600;
  width: 100%;
}

.search-input::placeholder {
  color: #D65A31;
  opacity: 0.8;
}


.search-bar:focus-within {
  box-shadow: 0 0 0 2px rgba(214, 90, 49, 0.2);
}