.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--maincolorlight);
  padding: 10px 20px;
  border-radius: 50px;
  width: 100%;
  max-width: 600px;
  transition: all 0.3s ease;
}

.search-icon {
  color: var(--primarycolor);
  margin-right: 12px;
  min-width: 20px;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  font-family: var(--secondaryfontfamily); 
  font-size: 16px;
  color: var(--primarycolor);
  font-weight: 600;
  width: 100%;
}

.search-input::placeholder {
  color: var(--primarycolor);
  opacity: 0.7;
}

.search-bar:focus-within {
  box-shadow: 0 0 0 2px var(--primarycolor);
  opacity: 0.9;
}