h1, h2, p{
    margin: 0;
}

.loginpagecont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url(../assets/loginbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.logincontent{
    display: flex;
    flex-direction: row;
    gap: 232px;
}

.loginsection_cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loginheadingsection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13.157px;
    align-self: stretch;
}

.loginfields_cont{

}

.welcomeheading{
    color: #E66248;
    font-family: var(--secondaryfontfamily);
    font-size: 31.577px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.welcometext{
    color: #E66249;
    font-family: var(--secondaryfontfamily);
    font-size: 19.736px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signincont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34.208px;
    align-self: stretch;
}

